{# templates/interest_assessment/rejection_email.html.twig #}
<h2>Ihre Interessenabw채gung wurde abgelehnt</h2>

<p>Die Interessenabw채gung "{{ assessment.title }}" wurde vom DSB abgelehnt.</p>

<p>Begr체ndung:</p>
<blockquote>{{ comment }}</blockquote>

<p>
    <a href="{{ reviewUrl }}">Klicken Sie hier um die Interessenabw채gung zu bearbeiten</a>
</p>